#side-navigation {
    transition: .30s;
    left: 0;
}

.hide {
    left: -1300px !important;
}

	/* Style the dropdown */

    /* Style the dropdown button */
    .dropdown button {
        color: black;
        padding: 10px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    /* Style the dropdown content */
    .dropdown-content {
        display: none;
        position: absolute;
        right: 1.5cm;
        z-index: 1;
        background-color: white;
        border: 1px solid black;
        border-radius: 10px;
    }

    /* Style the dropdown links */
    .dropdown-content a {
        color: black;
        padding: 8px 16px;
        text-decoration: none;
        display: block;
    }

    /* Show the dropdown content on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }