*{
    margin: 0px;
    padding: 0px;
}

.accountContent{
    display: flex;
    max-width: 900px;
    margin: 0px auto;

}

.gridContainer{
    display: grid;
    grid-template-columns: 250px 500px;
    gap: 90px;
}

#side-navigation {
    transition: .30s;
    left: 0;
}

.hide {
    left: -1300px !important;
}

/* .leftSide{
    background-color: lightblue;
} */

/* .rightSide{
    background-color: lightcoral;
} */