.menu {
    position: fixed;
    bottom: 9cm;
    right: 80px;
    width: 100%;
    transition: .5s ;
}

@media screen and (min-width:1000px) {
    .menu {right: 200px;}
}

.sliding{
    right: 518px !important; 
    
}

.iconfeature {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    transition: .5s;
    opacity: 0;
    background-color: white !important;
}

.menu div button img {
    width: 2pc;
    margin: 10px;
    background-color: white;
}

.menu div button >svg {
    width: 1.5pc;
    margin: 10px;
    background-color: white;
}



div.menu button:nth-of-type(1) {
    position: absolute;
    right: 0;
}

div.menu button:nth-of-type(2) {
    position: absolute;
    right: 0;
}

div.menu button:nth-of-type(3) {
    position: absolute;
    right: 0;
}

div.menu button:nth-of-type(4) {
    position: absolute;
    right: 0;
    z-index: 1;
}

.show-menu-1 {
    top: 1.6cm !important;
    opacity: 1;
}
.show-menu-2 {
    top: 3.2cm !important;
    opacity: 1;
}
.show-menu-3 {
    top: 4.8cm !important;
    opacity: 1;
}



